{% extends 'dashbase.html' %}

{% block content %}

<div class="card shadow mt-md-5 pt-5 mx-md-5 pb-5">
    <div class="card-body">
      
        
        <div class="container pb-5">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <div class="d-flex justify-content-center">
                          <img class="rounded-circle" src="https://www.kindpng.com/picc/m/22-223941_transparent-avatar-png-male-avatar-icon-transparent-png.png" alt="Avatar" width="110px" height="110px">
                    </div>
                    <div class="text-center mt-3"><h3>{{page.name}}</h3>  </div>
                    <div class="text-center"><p class=""> {{user.email}} </p></div>
                    <form method="GET" action="">
                        <div class="text-center mt-3"> <button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i> Add Link</button></div>
                    </form>
                    
                    
                    <form method="POST" action="{% url 'logoutuser' %}">
                        {% csrf_token %}
                        <div class="text-center mt-3"> <button type="submit" class="btn btn-outline-primary"><i class="fa fa-sign-out"></i> Logout</button></div>
                    </form>
                    
                </div>
                <div class="col-md-8">
                    <div class="text-center">
                        <h2>My Links</h2>
                    </div>
        
                    <table class="table table-hover mt-4">
                            <thead>
                            <tr>
                            <th scope="col">Link Name</th>
                            <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for link in links %}
                                <tr class="pt-4 pb-4">
                                  <td>{{link.name}}<br>{{link.url}}</td>
                                  
                                </tr>
                                {% empty %}
                                <div class="text-center"><h3>You do not have any Links</h3></div>
                        
                                {% endfor %}
                            </tbody>
                    </table>
        
        
                    
        
        
        
                </div>
        
            </div>
        </div>


    </div>
  </div>

{% endblock %}